@keyframes myframes {
  0% {
    transform: rotate(0deg);
    background-color: blue;
    margin-left: 0ch;
     border:5px solid red ;
   
  }
  50% {
    transform: rotate(180deg);
     background-color: red;
      border:5px solid navy ;
     margin-left: 50ch;
     margin-top: 100px;
     
  }
  100% {
    transform: rotate(360deg);
     background-color: red;
      border:5px solid navy ;
     margin-left: 100ch;
     margin-top: 0px;
  }
}
